.badge-container {
  display: flex;
}

/* common badge styling - start */
.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 10px;
  font-weight: bold;
}
.badge:hover, .badge:focus, .badge:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.badge svg {
  fill: white;
  height: 10px;
  width: 10px;
  padding-right: 0.5rem;
}

/* common badge styling - end */


.github {
  background-color: #181717;
}

.linkedin {
  background-color: #0A66C2;
}

.instagram {
  background-color: #E4405F;
}